# Concatenar DataFrames con pandas
Cargar el archivo `mompean.csv` en un DataFrame llamado `mompean`. Indicar que la columna `FechaHora` es de tipo `Datetime` y usarla como `index` del DataFrame.

In [5]:
# Completar aquí
import pandas as pd
from os import path
DATA_DIRECTORY = path.join('..', 'data')

mompean = pd.read_csv(
    path.join(DATA_DIRECTORY,  'mompean.csv'),
    parse_dates= ['FechaHora']
)
mompean.set_index('FechaHora', inplace=True)
mompean.drop(['hora','Fecha'], axis=1, inplace=True)
mompean.dropna(how="all", axis=1, inplace=True)
# --------------------
mompean

                       NO   NO2   SO2    O3    NOX  PM10  Ruido
FechaHora
2010-01-01 00:00:00   4.0   7.0  17.0   NaN   14.0   5.0   56.0
2010-01-01 01:00:00   6.0  12.0  18.0   NaN   21.0  15.0   58.0
2010-01-01 02:00:00   6.0  17.0  17.0   NaN   26.0  12.0   60.0
2010-01-01 03:00:00   5.0  10.0  18.0   NaN   18.0   2.0   57.0
2010-01-01 04:00:00   4.0   8.0  19.0   NaN   14.0   5.0   55.0
...                   ...   ...   ...   ...    ...   ...    ...
2019-12-31 19:00:00   9.0  35.0   8.0  47.0   49.0  19.0    NaN
2019-12-31 20:00:00  29.0  59.0   9.0  24.0  102.0  41.0    NaN
2019-12-31 21:00:00  59.0  65.0   8.0  10.0  155.0  48.0    NaN
2019-12-31 22:00:00  51.0  51.0   9.0  11.0  130.0  45.0    NaN
2019-12-31 23:00:00  32.0  42.0   9.0   7.0   90.0  44.0    NaN

[96408 rows x 7 columns]

Añadir a `mompean` dos columnas que contengan el día de la semana y la hora correspondiente a cada medición. Para ello, podréis usar las dos propiedades `dayofweek` y `hour` que se pueden aplicar a un `Datetimeindex`.

In [10]:
# Completar aquí

mompean.insert(7, 'dia', mompean.index.dayofweek)
mompean.insert(7, 'hora', mompean.index.hour)

# --------------------
mompean

                       NO   NO2   SO2    O3    NOX  PM10  Ruido  hora  dia
FechaHora
2010-01-01 00:00:00   4.0   7.0  17.0   NaN   14.0   5.0   56.0     0    4
2010-01-01 01:00:00   6.0  12.0  18.0   NaN   21.0  15.0   58.0     1    4
2010-01-01 02:00:00   6.0  17.0  17.0   NaN   26.0  12.0   60.0     2    4
2010-01-01 03:00:00   5.0  10.0  18.0   NaN   18.0   2.0   57.0     3    4
2010-01-01 04:00:00   4.0   8.0  19.0   NaN   14.0   5.0   55.0     4    4
...                   ...   ...   ...   ...    ...   ...    ...   ...  ...
2019-12-31 19:00:00   9.0  35.0   8.0  47.0   49.0  19.0    NaN    19    1
2019-12-31 20:00:00  29.0  59.0   9.0  24.0  102.0  41.0    NaN    20    1
2019-12-31 21:00:00  59.0  65.0   8.0  10.0  155.0  48.0    NaN    21    1
2019-12-31 22:00:00  51.0  51.0   9.0  11.0  130.0  45.0    NaN    22    1
2019-12-31 23:00:00  32.0  42.0   9.0   7.0   90.0  44.0    NaN    23    1

[96408 rows x 9 columns]

Seleccionar los valores correspondientes a Domingo a las 12 de la mañana en un dataframe y calcular las medias de sus columnas

In [14]:
# Completar aquí

domingo12 = mompean[mompean['hora'].isin([12]) & mompean['dia'].isin([6])]
domingo12media = domingo12.mean()
# --------------------
domingo12media

NO        6.971319
NO2      17.288719
SO2       7.856874
O3       70.305556
NOX      27.862333
PM10     22.290566
Ruido    60.154696
hora     12.000000
dia       6.000000
dtype: float64

Qué tipo de objeto es el resultado? Es una serie. Transformadlo en un DataFrame de una fila y 10 columnas.

In [15]:
# Completar aquí
domingo12media = domingo12media.to_frame().transpose()
# --------------------
domingo12media

,NO,NO2,SO2,O3,NOX,PM10,Ruido,hora,dia
0,6.971319,17.288719,7.856874,70.305556,27.862333,22.290566,60.154696,12.0,6.0

Escribid un bucle que calcule para cada hora y día de la semana, el valor promedio de los distintos niveles de los indicadores de calidad del aire de `mompean` y que los vaya uniendo en un DataFrame

In [16]:
# Completar aquí
medias = pd.DataFrame()
for i in range(7):
    for j in range(24):
        medias = pd.concat([medias, mompean[mompean['hora'].isin([j]) & mompean['dia'].isin([i])].mean()], axis=1)
medias = medias.transpose()
# --------------------
medias

,NO,NO2,SO2,O3,NOX,PM10,Ruido,hora,dia
0,7.562380,25.581574,7.512287,55.924303,37.084453,22.472486,57.027624,0.0,0.0
0,6.180077,23.312261,7.435606,53.521912,32.668582,20.853890,55.419890,1.0,0.0
0,5.517241,21.136015,7.361742,51.169323,29.501916,20.206831,53.508287,2.0,0.0
0,4.126437,17.105364,7.229167,50.878486,23.373563,18.842505,52.569061,3.0,0.0
0,3.624521,14.111111,7.143939,50.537849,19.616858,17.838710,51.806630,4.0,0.0
...,...,...,...,...,...,...,...,...,...
0,5.676245,18.860153,8.581132,77.117296,27.421456,22.644612,60.044199,19.0,6.0
0,6.545977,20.641762,8.330189,73.753479,30.588123,22.718336,60.364641,20.0,6.0
0,7.767754,23.921305,7.835539,68.711155,35.700576,23.905303,60.569061,21.0,6.0
0,8.694818,26.278311,7.667297,63.896414,39.462572,23.990512,59.972376,22.0,6.0
0,9.168906,27.220729,7.655955,59.272908,41.084453,23.339658,58.375691,23.0,6.0

El realizar un bucle que lleva a cabo un `concat` en cada iteración tal como se ha hecho anteriormente no es recomendable porque `concat` crea cada vez una copia nueva del DataFrame lo que no es nada óptimo en cuanto a rendimiento. Es mejor construir un iterable con todos los DataFrames, y luego usar `concat` solo una vez sobre el iterable. 

Usando una "list comprehension", construir una lista que contenga todos los DataFrame relevantes del apartado anterior (medias para cada hora y día de la semana). A continuación concatenarlos para obtener el DataFrame del apartado anterior

In [17]:
# Completar aquí
frames = [
    mompean[mompean['hora'].isin([j]) & mompean['dia'].isin([i])].mean().to_frame().transpose() for i in range(7) for j in range(24)
]

medias = pd.concat(frames)

# --------------------
medias

,NO,NO2,SO2,O3,NOX,PM10,Ruido,hora,dia
0,7.562380,25.581574,7.512287,55.924303,37.084453,22.472486,57.027624,0.0,0.0
0,6.180077,23.312261,7.435606,53.521912,32.668582,20.853890,55.419890,1.0,0.0
0,5.517241,21.136015,7.361742,51.169323,29.501916,20.206831,53.508287,2.0,0.0
0,4.126437,17.105364,7.229167,50.878486,23.373563,18.842505,52.569061,3.0,0.0
0,3.624521,14.111111,7.143939,50.537849,19.616858,17.838710,51.806630,4.0,0.0
...,...,...,...,...,...,...,...,...,...
0,5.676245,18.860153,8.581132,77.117296,27.421456,22.644612,60.044199,19.0,6.0
0,6.545977,20.641762,8.330189,73.753479,30.588123,22.718336,60.364641,20.0,6.0
0,7.767754,23.921305,7.835539,68.711155,35.700576,23.905303,60.569061,21.0,6.0
0,8.694818,26.278311,7.667297,63.896414,39.462572,23.990512,59.972376,22.0,6.0
0,9.168906,27.220729,7.655955,59.272908,41.084453,23.339658,58.375691,23.0,6.0